.container {
    background-color: white;
    padding: 30px;
    min-width: 100wh;
    max-width: 400px;
    color: #228B22;
}

.form-group {
    margin-bottom: 15px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.submit-btn {
    background-color: #228B22; /* Orange */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.messages p {
    margin-top: 10px;
    padding: 10px;
    background-color: #e0f7fa;
    color: #00796b;
    border-radius: 6px;
    text-align: center;
}
